.container{
    align-items: center;
    margin: 1rem;
    padding-inline: 12px; 
    display: flex;
    gap: 24px;
}



.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 3rem;
    padding-bottom: 4rem;
}

.btn_pesquisa{
    height: 40px;
    width: fit-content;
    background-color: #181818;
    border: none;
    border-radius: 6px;
    padding: 8px 30px;
}

.buttonContainer{
    display: flex;
    gap: 1rem;
}

.btn_limpar{
    border: 1px solid #181818;
    color: black;
    background-color: #00000000;
}

.btn_limpar:hover{
    color: white;
}

.cards{
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultado{
    padding: 2rem;
}

.conteudoResultado{
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.p{
    text-align: center;
}

.selectCategoria{
    width: 20rem;
}

.card{
    background-color: #181818;
    border-radius: 1rem;
    padding : 5rem;
    text-align: center;
    color: white;
    width: 100%;
    height: 10rem;
    justify-content: center;
    display: flex;
    align-items: center;
}


.row_info{

    display: flex;
    gap: 100px;
    justify-content: center;
}

.error{
    display: flex;
    align-items: center;
}

.numLinhas{
    font-size: 50px;
}

.legendaResultado{
    font-size: 15px;
}