.container{
    margin: 1rem;
    padding-inline: 12px; 
    display: flex;
    gap: 24px;
}



.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 3rem;
    padding-bottom: 4rem;
}

.btn_pesquisa{
    height: 40px;
    width: fit-content;
    background-color: #181818;
    border: none;
    border-radius: 6px;
    padding: 8px 30px;
}

.resultado{
    gap: 1rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudoResultado{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card{
    background-color: #181818;
    border-radius: 1rem;
    padding: 3rem;
    color: white;
    align-items: flex-start;
}

.row_info{
    display: flex;
    gap: 100px;
    justify-content: left;
}

.error{
    display: flex;
    align-items: center;
}

.numLinhas{
    margin-bottom: 50px;
    font-size: 30px;
}