.img{
    width: 216px;
    
}

.buttons{
    display: flex;
    gap: 24px;
}

h1{
    color: #000000;
}

.content{
    padding-inline: 16px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.option{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.container{
    margin: 16px 85px 16px 85px;
    padding-inline: 12px; 
}

.btn{
    font-size: 13px;
    padding: 16px;
    height: fit-content;
    border: solid 1px #000000;
    border-radius: 8px;
    background-color: #ffffff;
    font-weight: 600;
}